src/flows/Importer_Request_Import_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification</name>
        <label>Email Notification</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>DisplayMessage</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>NPO_Settings.Importer_Notification_To_Addresses__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailNotificationSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Get_Count_of_Import_Files</name>
        <label>Get Count of Import Files</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>countRequiredImportFiles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Content_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Required_Import_Files</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Required_Import_Files</name>
        <label>Required Import Files</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Missing_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RequiredImportFiles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countRequiredImportFiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Import_Instance.Required_Import_Files__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Importer_Instance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>1/20 - Add email notification
11/14 - Move update files to onchange flow
11/11 - Add managed package support
11/8 - check for required files before scheduling

Request Import flow is selected by the User when all the files are uploaded to the Import Instance.  This flow then goes and set the Is Scheduled For Import flag on all related files with the latest version to true.</description>
    <interviewLabel>Importer - Request Import FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Importer - Request Import FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Count_of_Import_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Import_Instance</name>
        <label>Get Import Instance</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Import_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>NPO_Settings</name>
        <label>NPO Settings</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Notification</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c501_npo_settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Importer_Instance</name>
        <label>Update Importer Instance</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>NPO_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Import_Instance__c</object>
    </recordUpdates>
    <screens>
        <name>DisplayMessage</name>
        <label>Display Message</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayStatus</name>
            <fieldText>&lt;p&gt;Scheduled for Import&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Files</name>
        <label>Missing Files</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScheduleFailed</name>
            <fieldText>&lt;p&gt;Unable to Schedule - Number of Files attached ({!countRequiredImportFiles}) to the Import Instance must equal the Required Import Files ({!Get_Import_Instance.Required_Import_Files__c}).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Import_Instance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Import_Instance.Import_Definition__r.Name} was just scheduled for import automation.</text>
    </textTemplates>
    <variables>
        <name>countRequiredImportFiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>emailNotificationSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>501 Commons NPO Cloud Importer - Import Scheduled</stringValue>
        </value>
    </variables>
    <variables>
        <name>emailNotificationToAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
